*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* UTILTY */

body{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/bg.jpg) no-repeat center center/cover;
}
.colore-viola{
    color:#C2128D;
}
#intestazione{
    font-size: 3.5rem;
}
#sotto-titolo{
    font-size: 1.5rem;
    padding-top: 0.75rem;
    font-weight: bold;
}
p,li,label{
    font-size:0.75rem;
    opacity: 0.8;
}
div#header{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}
div#sezione-principale{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
/* UTILTY */

/* Sezione Principale */
div#sezione-principale p#intestazione{
    width: 40%;
    margin-bottom: 1rem;
    line-height: 75%;
}
div#sezione-principale p#intestazione span{
    font-weight: bold;
}
div#sezione-principale img{
    margin-bottom:3rem;
}
div#sezione-principale p.testo{
    width: 65%;
}
div#sezione-principale ul{
    margin: 2rem 1.5rem;
}
div#sezione-principale div#form{
    display: flex;
    align-items: center;
}
div#sezione-principale div#form button{
    background: #00FFFF;
    color: #0B113B;
    font-weight: bold;
    padding: 0.75rem 2.5rem;
    border: 0;
}
div#sezione-principale div#input{
    flex:1;
}
/* MAIN */